/*the background design*/
body{
  /*  background-color:rgb(249, 227, 255);*/
background-image: url(https://file.garden/Z6Sjo1OdCyNk2XjS/website%20BG2.png);
background-size:cover;
}
/*white transparent BG*/
#white{
    position: absolute;
    top: 50px;
    left: 95px;
    z-index:-1;
    object-fit: cover;
    height: 680px;
    width: 1400px;
    opacity: 50%;
    border-radius: 5%;
}
#line{
    position: absolute;
    top: 250px;
    left: 300px;
    z-index:0;
    object-fit: cover;
    height: 2.5px;
    width: 1000px;
}
#linem{
    position: absolute;
    top: 450px;
    left: 560px;
    z-index:0;
    object-fit: cover;
    height: 250px;
    width: 2.5px;
}
#linen{
    position: absolute;
    top: 450px;
    left: 1100px;
    z-index:0;
    object-fit: cover;
    height: 250px;
    width: 2.5px;
}

/*about us*/
.Aboutus{
    position: relative;
    top: 20px;
    left: -160px;
    max-width: 400px;
    max-height: 400px;
    z-index: 2;
    
}
/*contact us*/
.contactus{
    position: absolute;
   top: 400px;
   left: 600px;
}
/*the title design*/
h1{
    color:#371380;
font-size: 110px;
padding-left: 450px;
font-family:inherit;
position:relative;
top: 50px;
}
/*paragraph design*/ 
.my-paragraph{
  font-weight: bold;
padding-left: 640px;
}
.paragraph{
    font-weight: bold;
    padding-left: 340px;
}
/*mail design*/ 
#mail{
    padding-left: 650px;
    position: relative;
    top: 160px;
}
#link{
    padding-left: 650px;
    position: relative;
    top: 120px;
}
/*About us design*/ 
.Aboutus {
font-weight: bold;
padding-left:300px;
}
/*buttons design*/ 
#button1{
    padding-left: 600px;
    border-radius: 80px;
    position: absolute;
    left: 600px;
    top: 500px;
}
#button2{
    position: absolute;
    left: 1197px;
    top: 550px;
}
button:hover{
    transform: scale(1.3);
    transition: all 0.2s ease;
}
#watermark{
    position: absolute;
    top: 580px;
    left: 1220px;
    width: 100px;
}