/*the background design*/
body{
  background-image: url(https://file.garden/Z6Sjo1OdCyNk2XjS/website%20BG2.png);
  background-size: cover;
  }
html, body{
    position:relative;
    height:100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
/*Genre Choice*/
#imgg{
    position: relative;
    bottom: 100px;
    top: 50px;
    left: 100px;
    border-radius: 15%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 3);
}
#genreBtn{
    position: relative;
    bottom: -50px;
    left: 123px;
    border-radius: 15%;
    color: hsl(0, 0%, 0%);
    background-color: rgb(229, 191, 255);
    border: none;
}
#genreText{
    position:absolute;
    top: 160px;
    left: 110px;
    max-width: 1000px;
}
/*Main idea Choice*/
#imgm{
    position: relative;
    bottom: 100px;
    top: 50px;
    left: 290px;
    border-radius: 15%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 3);
}
#ideaBtn{
    position: relative;
    bottom: -50px;
    left: 355px;
    border-radius: 15%;
    color: hsl(0, 0%, 0%);
    background-color: rgb(229, 191, 255);
    border: none;
}
#ideaText{
    position:absolute;
    left: 390px;
    width: 100px;
    top: 155px;
    max-width: 200px;
    max-height: 100px;
}
/*Plot twist Choice*/
#imgp{
    position: relative;
    bottom: 10px;
    top: 50px;
    left: 480px;
    border-radius: 15%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 3);
}
#twistBtn{
    position: relative;
    bottom: -50px;
    left: 580px;
    border-radius: 15%;
    color: hsl(0, 0%, 0%);
    background-color: rgb(229, 191, 255);
    border: none;
}
#twistText{
    position:absolute;
    top: 150px;
    left: 700px;
    margin: 0x;
    line-height: normal;
    padding: 5px;
    min-width: 100px;
    width: 100px;
}
/*Settings Choice*/
#imgs{
    position: relative;
    bottom: 10px;
    top: 50px;
    left: 690px;
    border-radius: 15%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 3);
}
#settingBtn{
    position: relative;
    bottom: -50px;
    left: 825px;
    border-radius: 15%;
    color: hsl(0, 0%, 0%);
    background-color: rgb(229, 191, 255);
    border: none;
}
#settingText{
    position:relative;
    bottom: -30px;
    left: 1010px;
    margin: 0x;
    line-height: normal;
    padding: 5px;
    min-width: 100px;
    max-width: 200px;
}
/*Personality Choice*/
#imgpe{
    position: relative;
    bottom: 1000px;
    top: 50px;
    left: 950px;
    border-radius: 15%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 3);
}
#personalityBtn{
    position: absolute;
    bottom: 590px;
    left: 1375px;
    border-radius: 15%;
    color: hsl(0, 0%, 0%);
    background-color: rgb(229, 191, 255);
    border: none;
}
#personalityText{
    position:absolute;
    bottom: 550px;
    left: 1380px;
    margin: 0x;
    line-height: normal;
    padding: 5px;
    min-width: 150px;
}
/*Flaws perks Choice*/
#imgt{
    position: relative;
    bottom: -500px;
    top: 373px;
    left: -440px;
    border-radius: 15%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 3);
}
#flawsBtn{
    position: absolute;
    bottom: 270px;
    left: 29px;
    border-radius: 15%;
    color: hsl(0, 0%, 0%);
    background-color: rgb(229, 191, 255);
    border: none;
}
#flawsText{
    position:absolute;
    bottom: 230px;
    left: 15px;
    margin: 0x;
    line-height: normal;
    padding: 5px;
   max-width: 100px;
   max-height: 21px;
}
#perksBtn{
    position: absolute;
    bottom: 270px;
    left: 180px;
    border-radius: 15%;
    color: hsl(0, 0%, 0%);
    background-color: rgb(229, 191, 255);
    border: none;
}
#perksText{
    position:absolute;
    bottom: 225px;
    left: 180px;
    margin: 0x;
    line-height: normal;
    padding: 5px;
    max-width: 100px;
    max-height: 21px;
}
/*Species Choice*/
#imgsp{
    position: relative;
    bottom: 500px;
    top: 373px;
    left: -230px;
    border-radius: 15%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 3);
 }
#speciesBtn{
    position: absolute;
    bottom: 270px;
    left: 415px;
    border-radius: 15%;
    color: hsl(0, 0%, 0%);
    background-color: rgb(229, 191, 255);
    border: none;
}
#speciesText{
    position:absolute;
    left: 410px;
    width: 100px;
    top: 480px;
}
/*Relationships Choice*/
#imgr{
    position: relative;
    bottom: 10px;
    top: 375px;
    left: -30px;
    border-radius: 15%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 3);
}
#relationshipsBtn{
    position: absolute;
    bottom: 265px;
    left: 700px;
    border-radius: 15%;
    color: hsl(0, 0%, 0%);
    background-color: rgb(229, 191, 255);
    border: none;
}
#relationshipsText{
    position:absolute;
    top: 480px;
    left: 700px;
    margin: 0x;
    line-height: normal;
    padding: 5px;
    max-width: 100px;
    max-height: 21px;
}
/*Super power Choice*/
#imgpower{
    position: relative;
    bottom: 10px;
    top: 375px;
    left: 170px;
    border-radius: 15%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 3);
}
#superpowerBtn{
    position: absolute;
    bottom: 265px;
    left: 1010px;
    border-radius: 15%;
    color: hsl(0, 0%, 0%);
    background-color: rgb(229, 191, 255);
    border: none;
}
#superpowerText{
    position:absolute;
    bottom: 225px;
    left: 1010px;
    margin: 0x;
    line-height: normal;
    padding: 5px;
    max-width: 100px;
    max-height: 21px;
}
/*Weapons Choice*/
#imgwe{
    position: relative;
    bottom: 10px;
    top: 375px;
    left: 430px;
    border-radius: 15%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 3);
}
#weaponsBtn{
    position: absolute;
    bottom: 265px;
    left: 1380px;
    border-radius: 15%;
    color: hsl(0, 0%, 0%);
    background-color: rgb(229, 191, 255);
    border: none;
}
#weaponsText{
    position:absolute;
    bottom: 222px;
    left: 1380px;
    margin: 0x;
    line-height: normal;
    padding: 5px;
    max-width: 100px;
    max-height: 21px;
}
#Button3{
    position: absolute;
    top: 600px;
    left: 715px;
    width: 500px;
    border-radius: 15%;
    border-color: blueviolet;
 }
 button:hover{
    transform: scale(1.3);
    transition: all 0.2s ease;
 }
 #watermark{
    position: absolute;
    top: 580px;
    left: 1220px;
    width: 100px;
}